{% include 'header.html' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if empleado_a_editar %}
                <!-- Card para el formulario de edición -->
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Editar Empleado</h3>
                    </div>
                    <div class="card-body">
                        <!-- Botón de regreso a la página principal -->
                        <a href="{{ url_for('index') }}" class="btn btn-success mb-3">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>

                        <!-- Formulario de edición -->
                        <form method="post" action="/update/{{ empleado_a_editar['id'] }}" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                            <!-- Campos del formulario -->
                            <div class="form-group">
                                <label for="txtNombre">Nombre:</label>
                                <input type="text" class="form-control" name="txtNombre" id="txtNombre" value="{{ empleado_a_editar['nombre'] }}" required>
                            </div>

                            <div class="form-group">
                                <label for="txtCorreo">Correo:</label>
                                <input type="text" class="form-control" name="txtCorreo" id="txtCorreo" value="{{ empleado_a_editar['email'] }}" required>
                            </div>

                            <div class="form-group">
                                <label for="txtFoto">Foto (solo JPG):</label>
                                <input type="file" class="form-control-file" name="txtFoto" id="txtFoto" onchange="previewImage()" required>
                            </div>

                            <div class="form-group">
                                <!-- Mostrar la imagen actual -->
                                <img src="{{ foto_actual_url }}" alt="Foto actual" class="img-fluid" id="fotoPreview">
                            </div>

                            <!-- Botón de envío del formulario -->
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Asignar valores a los campos del formulario al cargar la página
        document.getElementById('txtNombre').value = '{{ empleado_a_editar["nombre"] }}';
        document.getElementById('txtCorreo').value = '{{ empleado_a_editar["email"] }}';

        // Mostrar la imagen de vista previa
        $('#fotoPreview').attr('src', '{{ foto_actual_url }}').show();
    });

    function previewImage() {
        // Obtener el nombre del archivo
        const fileName = $('#txtFoto').val().split('\\').pop();

        // Mostrar el nombre del archivo
        $('#fotoPreview').attr('src', '').hide();

        if (fileName) {
            // Validar la extensión del archivo
            const validExtensions = ['jpg', 'jpeg'];
            const fileExtension = fileName.split('.').pop().toLowerCase();
            if (!validExtensions.includes(fileExtension)) {
                alert('Por favor, seleccione un archivo de imagen con la extensión JPG o JPEG.');
                $('#txtFoto').val('');  // Limpiar el campo de archivo
                return;
            }

            // Crear una URL para la nueva imagen seleccionada
            const imageUrl = URL.createObjectURL(event.target.files[0]);

            // Mostrar la imagen de vista previa
            $('#fotoPreview').attr('src', imageUrl).show();
        }
    }

    function validarFormulario() {
        const nombre = $('#txtNombre').val();
        const correo = $('#txtCorreo').val();
        const foto = $('#txtFoto').val();

        if (!nombre.trim()) {
            alert('El nombre es obligatorio.');
            return false;
        }

        // Expresión regular para validar el correo
        const correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!correoRegex.test(correo)) {
            alert('El correo no tiene un formato válido.');
            return false;
        }

        if (!foto.trim()) {
            alert('La foto es obligatoria.');
            return false;
        }

        // Validar la extensión del archivo
        const validExtensions = ['jpg', 'jpeg'];
        const fileExtension = foto.split('.').pop().toLowerCase();
        if (!validExtensions.includes(fileExtension)) {
            alert('Por favor, seleccione un archivo de imagen con la extensión JPG o JPEG.');
            return false;
        }

        return true;
    }
</script>

{% include 'footer.html' %}


